* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font;
}
%click-effect {
  cursor: pointer;
  &:active {
    transform: scale(0.95);
    box-shadow: none;
  }
}
%container-design {
  width: 98%;
  margin-top: 70px;
  border-radius: 8px;
  padding-bottom: 35px;
  box-shadow: 0 0 20px #0000003e;
}

@mixin design-btn($bg-color, $font-color, $border-color, $font-size) {
  @extend %click-effect;

  background-color: $bg-color;
  font-size: $font-size;
  color: $font-color;
  padding: calc($font-size * 0.2) calc($font-size * 1.5);
  border: calc($font-size * 0.09) solid $border-color;

  font-weight: 500;
  box-shadow: 0 5px 5px #00000058;
  cursor: pointer;
  border-radius: 30px;
}

@mixin icon-size($width, $height) {
  width: $width;
  height: $height;
}

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  svg {
    fill: rgb(222, 50, 50);
  }
  p {
    text-align: center;
    font-size: 1.2rem;
    color: $grey;
  }
}

nav {
  background-color: $priamary-color;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  position: fixed;
  z-index: 10;
  width: 100%;
  .logo {
    color: $bright-white;
    cursor: pointer;
  }

  .btn-saved-recipe {
    svg {
      @include icon-size(30px, 30px);
      @extend %click-effect;
      fill: $light-grey;

      &:hover {
        fill: $bright-white;
      }
    }
  }
  form {
    display: flex;
    height: 30px;
    width: 50%;
    justify-content: center;
    gap: 20px;
    .search-input {
      width: 70%;
      padding: 5px 10px;
      border-radius: 5px;
      border: none;
      outline-color: $priamary-color;
      color: $grey;
    }
    .btn-search {
      @include design-btn($light-grey, $grey, $bright-white, 0.8rem);
    }
  }
}

.spinner {
  fill: $priamary-color;
  animation: rotate 2s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
main {
  position: relative;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 86vh;
    position: relative;
    @extend %search-results-view;

    @extend %pagination-view;

    @extend %recipe-view;

    &.hidden {
      display: none;
    }
  }
  @extend %saved-recipes-view;
}

footer {
  height: 80px;
  background-color: $priamary-color;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    color: white;
  }
}

@media only screen and (max-width: $medium-screen) {
  nav {
    .logo {
      font-size: 1.2rem;
    }
  }
  .recipe-list {
    margin: 0px;
    gap: 5px;
    .recipe-info {
      width: 250px;
    }
  }
}
