@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

main .saved-recipes .saved-recipes-list .saved-recipe .btn-delete, main .saved-recipes .saved-recipes-top .saved-recipes-top-right svg, main .container .recipe .btn-get-direction, main .container .recipe .recipe-desc .recipe-top .recipe-top-right .btn-save-recipe svg, main .container .recipe .recipe-desc .recipe-top .recipe-top-left .cooking-time .btn-update-servings,
main .container .recipe .recipe-desc .recipe-top .recipe-top-left .recipe-servings .btn-update-servings, main .container .btn-close-window, main .container .pagination .btn-next,
main .container .pagination .btn-prev, main .container .recipe-list .recipe-info .btn-save-recipe, nav form .btn-search, nav .btn-saved-recipe {
  cursor: pointer;
}
main .saved-recipes .saved-recipes-list .saved-recipe .btn-delete:active, main .saved-recipes .saved-recipes-top .saved-recipes-top-right svg:active, main .container .recipe .btn-get-direction:active, main .container .recipe .recipe-desc .recipe-top .recipe-top-right .btn-save-recipe svg:active, main .container .recipe .recipe-desc .recipe-top .recipe-top-left .cooking-time .btn-update-servings:active,
main .container .recipe .recipe-desc .recipe-top .recipe-top-left .recipe-servings .btn-update-servings:active, main .container .btn-close-window:active, main .container .pagination .btn-next:active,
main .container .pagination .btn-prev:active, main .container .recipe-list .recipe-info .btn-save-recipe:active, nav form .btn-search:active, nav .btn-saved-recipe:active {
  transform: scale(0.95);
  box-shadow: none;
}

main .container .recipe, main .container .recipe-list {
  width: 98%;
  margin-top: 70px;
  border-radius: 8px;
  padding-bottom: 35px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2431372549);
}

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.error svg {
  fill: rgb(222, 50, 50);
}
.error p {
  text-align: center;
  font-size: 1.2rem;
  color: #292522;
}

nav {
  background-color: #d75d00;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  position: fixed;
  z-index: 10;
  width: 100%;
}
nav .logo {
  color: #fff;
}
nav .btn-saved-recipe {
  width: 30px;
  height: 30px;
  fill: #ffe7d5;
}
nav .btn-saved-recipe:hover {
  fill: #fff;
}
nav form {
  display: flex;
  height: 30px;
  width: 50%;
  justify-content: center;
  gap: 20px;
}
nav form .search-input {
  width: 70%;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  outline-color: #d75d00;
  color: #292522;
}
nav form .btn-search {
  background-color: #ffe7d5;
  font-size: 0.8rem;
  color: #292522;
  padding: 0.16rem 1.2rem;
  border: 0.072rem solid #fff;
  font-weight: 500;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3450980392);
  cursor: pointer;
  border-radius: 30px;
}

.spinner {
  fill: #d75d00;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
main {
  position: relative;
}
main .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 86vh;
  position: relative;
}
main .container.hidden {
  display: none;
}

footer {
  height: 80px;
  background-color: #d75d00;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p {
  color: white;
}

@media only screen and (max-width: 1000px) {
  nav .logo {
    font-size: 1.2rem;
  }
  .recipe-list {
    margin: 0px;
    gap: 5px;
  }
  .recipe-list .recipe-info {
    width: 250px;
  }
}
main .container .recipe-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  justify-content: space-evenly;
  gap: 20px;
  cursor: pointer;
}
main .container .recipe-list .recipe-info {
  width: 350px;
  height: 350px;
  background: #ffe7d5;
  padding-bottom: 20px;
  border-radius: 8px;
  transition: all 0.5s;
  position: relative;
}
main .container .recipe-list .recipe-info .btn-save-recipe {
  position: absolute;
  right: 15px;
  bottom: 15px;
}
main .container .recipe-list .recipe-info .btn-save-recipe svg {
  fill: darkgrey;
  width: 30px;
  height: 30px;
}
main .container .recipe-list .recipe-info.saved svg {
  fill: #e03030;
}
main .container .recipe-list .recipe-info a {
  text-decoration: none;
  color: #292522;
}
main .container .recipe-list .recipe-info a .recipe-info-img {
  width: 100%;
  height: 60%;
  object-fit: cover;
  object-position: center;
  border-radius: 8px 8px 0 0;
}
main .container .recipe-list .recipe-info a .recipe-info-content {
  padding: 10px;
}
main .container .recipe-list .recipe-info a .recipe-info-content p {
  margin-top: 10px;
}
main .container .recipe-list .recipe-info a .recipe-info-content p .recipe-info-publisher {
  font-weight: 700;
}
main .container .recipe-list .recipe-info:hover {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1921568627);
  transform: scale(1.02);
}

main .container .pagination {
  margin-top: 20px;
  display: flex;
  gap: 80px;
}
main .container .pagination .btn-next,
main .container .pagination .btn-prev {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 2px solid #d75d00;
  background-color: #ffe7d5;
  font-size: 1rem;
  color: #292522;
  padding: 0.2rem 1.5rem;
  border: 0.09rem solid #d75d00;
  font-weight: 500;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3450980392);
  cursor: pointer;
  border-radius: 30px;
}
main .container .pagination svg {
  fill: #292522;
  width: 2rem;
  height: 1.2rem;
}

main .container .btn-close-window {
  position: absolute;
  top: 80px;
  left: 30px;
  background-color: #ffe7d5;
  font-size: 1rem;
  color: #e03030;
  padding: 0.2rem 1.5rem;
  border: 0.09rem solid #e03030;
  font-weight: 500;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3450980392);
  cursor: pointer;
  border-radius: 30px;
  width: 40px;
  height: 40px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .container .btn-close-window svg {
  fill: #e03030;
  width: 1.2rem;
  height: 1.2rem;
}
main .container .recipe .recipe-img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  object-position: center;
  border-radius: 8px 8px 0 0;
}
main .container .recipe .recipe-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
main .container .recipe .recipe-desc .recipe-title {
  position: absolute;
  left: 50%;
  top: -50px;
  transform: translateX(-50%);
  padding: 10px 30px;
  color: #fff;
  background-color: #d75d00;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2470588235);
  border-radius: 8px;
  font-size: 3vmin;
}
@media only screen and (max-width: 600px) {
  main .container .recipe .recipe-desc .recipe-title {
    font-size: 1.2rem;
  }
}
main .container .recipe .recipe-desc .recipe-top {
  display: flex;
  justify-content: space-around;
  margin-top: 45px;
  width: 100%;
  border-top: 1px solid #ffe7d5;
  border-bottom: 1px solid #ffe7d5;
  padding: 7px;
}
main .container .recipe .recipe-desc .recipe-top svg {
  width: 30px;
  height: 30px;
  fill: #d75d00;
}
main .container .recipe .recipe-desc .recipe-top .recipe-top-left {
  display: flex;
  gap: 25px;
}
main .container .recipe .recipe-desc .recipe-top .recipe-top-left .cooking-time,
main .container .recipe .recipe-desc .recipe-top .recipe-top-left .recipe-servings {
  display: flex;
  align-items: center;
  gap: 10px;
}
main .container .recipe .recipe-desc .recipe-top .recipe-top-left .cooking-time .btn-update-servings,
main .container .recipe .recipe-desc .recipe-top .recipe-top-left .recipe-servings .btn-update-servings {
  width: 20px;
  height: 20px;
}
main .container .recipe .recipe-desc .recipe-top .recipe-top-right .btn-save-recipe svg {
  fill: darkgray;
}
main .container .recipe .recipe-desc .recipe-ing {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .container .recipe .recipe-desc .recipe-ing svg {
  width: 20px;
  height: 20px;
  fill: #d75d00;
}
main .container .recipe .recipe-desc .recipe-ing h3 {
  text-align: center;
  color: #d75d00;
  font-size: 1.5rem;
}
main .container .recipe .recipe-desc .recipe-ing .ing-list {
  margin-top: 20px;
  list-style: none;
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px 40px;
}
@media only screen and (max-width: 600px) {
  main .container .recipe .recipe-desc .recipe-ing .ing-list {
    grid-template-columns: auto;
  }
}
main .container .recipe .recipe-desc .recipe-ing .ing-list .ing-item {
  display: flex;
  align-items: center;
  gap: 5px;
}
main .container .recipe .recipe-desc .recipe-ing .ing-list .ing-item svg {
  margin-right: 8px;
}
main .container .recipe p {
  margin-top: 30px;
}
main .container .recipe p .recipe-publisher {
  color: #d75d00;
}
main .container .recipe .btn-get-direction {
  text-decoration: none;
  margin-top: 17px;
  background-color: #d75d00;
  font-size: 1.3rem;
  color: #fff;
  padding: 0.26rem 1.95rem;
  border: 0.117rem solid transparent;
  font-weight: 500;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3450980392);
  cursor: pointer;
  border-radius: 30px;
}
main .container .recipe.saved .recipe-desc .recipe-top .recipe-top-right .btn-save-recipe svg {
  fill: #e03030;
}

main .saved-recipes {
  position: fixed;
  top: 0px;
  right: -400px;
  background-color: #ffe7d5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3490196078);
  width: 400px;
  height: calc(100vh + 50px);
  z-index: 11;
  overflow-y: scroll;
  color: #292522;
  transition: right 0.5s;
}
main .saved-recipes.opened {
  right: 0;
}
@media only screen and (max-width: 600px) {
  main .saved-recipes {
    width: 90vw;
  }
}
main .saved-recipes .saved-recipes-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 0 10px;
}
main .saved-recipes .saved-recipes-top .saved-recipes-top-left {
  display: flex;
  gap: 8px;
  align-items: center;
}
main .saved-recipes .saved-recipes-top .saved-recipes-top-left svg {
  width: 30px;
  height: 30px;
  fill: #e03030;
}
main .saved-recipes .saved-recipes-top .saved-recipes-top-right {
  display: flex;
  align-items: center;
}
main .saved-recipes .saved-recipes-top .saved-recipes-top-right svg {
  padding: 0;
  width: 30px;
  height: 30px;
  fill: #292522;
}
main .saved-recipes .saved-recipes-list {
  list-style: none;
}
main .saved-recipes .saved-recipes-list .saved-recipe {
  margin-top: 10px;
  background-color: #fff;
  padding: 10px;
  border-bottom: 2px solid #d75d00;
  cursor: pointer;
  transition: all 0.5s;
  position: relative;
}
main .saved-recipes .saved-recipes-list .saved-recipe .btn-delete {
  background-color: #ffe7d5;
  font-size: 15px;
  color: #e03030;
  padding: 3px 22.5px;
  border: 1.35px solid #e03030;
  font-weight: 500;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3450980392);
  cursor: pointer;
  border-radius: 30px;
  padding: 0px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10px;
  right: 15px;
}
main .saved-recipes .saved-recipes-list .saved-recipe .btn-delete svg {
  width: 12px;
  height: 12px;
  fill: #e03030;
}
main .saved-recipes .saved-recipes-list .saved-recipe a {
  display: flex;
  align-items: center;
  gap: 15px;
  text-decoration: none;
}
main .saved-recipes .saved-recipes-list .saved-recipe .saved-recipe-img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}
main .saved-recipes .saved-recipes-list .saved-recipe .saved-recipe-title {
  color: #d75d00;
}
main .saved-recipes .saved-recipes-list .saved-recipe p {
  color: #292522;
}
main .saved-recipes .saved-recipes-list .saved-recipe:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2431372549);
  transform: scale(1.02);
}
main .saved-recipes .saved-recipes-list .active-saved-recipe {
  background-color: #d75d00;
  border-bottom: 2px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2431372549);
}
main .saved-recipes .saved-recipes-list .active-saved-recipe .saved-recipe-title {
  color: #fff;
}

/*# sourceMappingURL=main.css.map */
